.site-header {
  background-color: #090a0b;
  padding-bottom: 60px;
}
.container {
  max-width: 75%;
}
.navbar {
  background: #090a0b;
}
.nav-link {
  color: #bdbdbd;
}
.nav-link:hover {
  color: #ececec;
}
#navbarNavAltMarkup {
  padding: 0 12%;
}
.inner-header {
  margin: 0 auto;
}
.header-title {
  padding-top: 6%
}
.carbon-image {
  width: 70%;
  align-self: flex-start;
}
.description-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.description-text {
  color: whitesmoke;
}
.dark-mode-text {
  padding-left: 9px;
  color: #bdbdbd;
}
#darkModeSwitch:hover {
  cursor: pointer;
}
#cursor {
  background: whitesmoke;
  margin-left: 5px;
  margin-top: 8px;
  animation: caret 1s steps(1) infinite;
  width: 13px;
  height: 32px;
}
@keyframes caret {
  50% {
    background-color: transparent;
  }
}
:root {
  --background-color:  #191b1f;
  --text-color: white;
}
[data-theme="light"] {
  --background-color: whitesmoke;
  --text-color: #212529;
}
.main-content {
  background: var(--background-color);
  color: var(--text-color);
}
.projects-section {
  max-width: 75%;
}
.contacts-section {
  max-width: 75%;
}
.section-title {
  padding: 5% 0 4% 0;
}
.tech-pill {
  width: 5%;
}
.blur-effect {
  height: 100px;
  position: relative;
  text-align: center;
}
.blur-effect::before{
  content: "";
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4b4d51;
  filter: blur(5px);
  z-index:0;
}
.coming-soon {
  position: relative;
  z-index: 1;
  color: white;
}
.footer {
  background: #090a0b;
}
.footer-inner {
  color: #bdbdbd;
  max-width: 73%;
  padding: 2% 0 2% 0;
}
.link-nostyle {
  text-decoration: inherit;
  color: inherit;
  margin-left: 2%;
}
.link-nostyle:hover {
  color: #ececec;
}
.link-nostyle:focus {
  outline: none;
}
#submit-loading {
  display: none;
}
.message-alert {
  display: none;
  border: 1px solid #f8f9fa;
}

/* Table Portrait */
@media only screen and (max-width: 780px) and (max-height: 1200px) {
  .carbon-image {
    width: auto;
  }
  .header-title {
    padding-top: 8%;
  }
  .projects-section {
    max-width: 96%;
  }
  .contacts-section {
    max-width: 96%;
  }
  #navbarNavAltMarkup {
    padding: 0;
  }
  .site-header {
    padding-bottom: 30px;
  }
  #cursor {
    margin-top: 0;
    height: 26px;
  }
  .container {
    max-width: 96%;
  }
  .footer-inner {
    max-width: 93%;
  }
}

/* Tablet Landscape */
@media only screen and (max-width: 1200px) and (max-height: 780px) {
  .carbon-image {
    width: auto;
  }
  .container {
    max-width: 96%;
  }
  .header-title {
    padding-top: 8%;
  }
  .projects-section {
    max-width: 96%;
  }
  .contacts-section {
    max-width: 96%;
  }
  #navbarNavAltMarkup {
    padding: 0;
  }
  #cursor {
    margin-top: none;
    height: 26px;
  }
  .footer-inner {
    max-width: 93%;
  }
}

/* Mobile */
@media only screen and (max-width: 600px) and (max-height: 1000px) {
  #navbarNavAltMarkup {
    padding: 0;
  }
  .header-title {
    padding-top: 16%;
  }
  .site-header {
    padding-bottom: 30px;
  }
  .container {
    max-width: 97%;
  }
  .carbon-image {
    width: auto;
  }
  #cursor {
    margin-top: 8px;
    height: 21px;
    margin-bottom: 11px;
  }
  .description-text {
    font-size: 1.05rem;
  }
  .projects-section {
    max-width: 96%;
  }
  .contacts-section {
    max-width: 96%;
  }
  .footer-inner {
    max-width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) and (max-height: 400px) {
  .header-title {
    padding-top: 12%;
  }
}

.glitch {
	color: #ffffff;
	text-transform: upercase;
	position: relative;
}

.glitch::before,
.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #090a0b;
}

.glitch::before {
	left: 2px;
	text-shadow: -2px 0 #49FC00;
	clip: rect(24px, 550px, 90px, 0);
	animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

.glitch::after {
	left: -2px;
	text-shadow: -2px 0 #b300fc;
	clip: rect(85px, 550px, 140px, 0);
	animation: glitch-anim 2.5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
	0% {
		clip: rect(122px, 9999px, 110px, 0);
	}

	4.16666667% {
		clip: rect(85px, 9999px, 3px, 0);
	}

	8.33333333% {
		clip: rect(146px, 9999px, 36px, 0);
	}

	12.5% {
		clip: rect(75px, 9999px, 146px, 0);
	}

	16.66666667% {
		clip: rect(9px, 9999px, 58px, 0);
	}

	20.83333333% {
		clip: rect(55px, 9999px, 105px, 0);
	}

	25% {
		clip: rect(69px, 9999px, 31px, 0);
	}

	29.16666667% {
		clip: rect(51px, 9999px, 44px, 0);
	}

	33.33333333% {
		clip: rect(23px, 9999px, 50px, 0);
	}

	37.5% {
		clip: rect(28px, 9999px, 114px, 0);
	}

	41.66666667% {
		clip: rect(128px, 9999px, 4px, 0);
	}

	45.83333333% {
		clip: rect(76px, 9999px, 1px, 0);
	}

	50% {
		clip: rect(2px, 9999px, 150px, 0);
	}

	54.16666667% {
		clip: rect(90px, 9999px, 41px, 0);
	}

	58.33333333% {
		clip: rect(77px, 9999px, 112px, 0);
	}

	62.5% {
		clip: rect(21px, 9999px, 59px, 0);
	}

	66.66666667% {
		clip: rect(145px, 9999px, 121px, 0);
	}

	70.83333333% {
		clip: rect(21px, 9999px, 73px, 0);
	}

	75% {
		clip: rect(24px, 9999px, 90px, 0);
	}

	79.16666667% {
		clip: rect(24px, 9999px, 124px, 0);
	}

	83.33333333% {
		clip: rect(111px, 9999px, 120px, 0);
	}

	87.5% {
		clip: rect(126px, 9999px, 81px, 0);
	}

	91.66666667% {
		clip: rect(142px, 9999px, 51px, 0);
	}

	95.83333333% {
		clip: rect(76px, 9999px, 46px, 0);
	}

	100% {
		clip: rect(35px, 9999px, 94px, 0);
	}
}

@keyframes glitch-anim-2 {
	6.66666667% {
		clip: rect(92px, 9999px, 51px, 0);
	}

	10% {
		clip: rect(60px, 9999px, 53px, 0);
	}

	13.33333333% {
		clip: rect(140px, 9999px, 79px, 0);
	}

	16.66666667% {
		clip: rect(26px, 9999px, 97px, 0);
	}

	20% {
		clip: rect(68px, 9999px, 75px, 0);
	}

	23.33333333% {
		clip: rect(51px, 9999px, 141px, 0);
	}

	26.66666667% {
		clip: rect(57px, 9999px, 73px, 0);
	}

	30% {
		clip: rect(111px, 9999px, 26px, 0);
	}

	33.33333333% {
		clip: rect(42px, 9999px, 110px, 0);
	}

	36.66666667% {
		clip: rect(38px, 9999px, 85px, 0);
	}

	40% {
		clip: rect(25px, 9999px, 67px, 0);
	}

	43.33333333% {
		clip: rect(14px, 9999px, 4px, 0);
	}

	46.66666667% {
		clip: rect(17px, 9999px, 47px, 0);
	}

	50% {
		clip: rect(135px, 9999px, 109px, 0);
	}

	53.33333333% {
		clip: rect(26px, 9999px, 89px, 0);
	}

	56.66666667% {
		clip: rect(126px, 9999px, 77px, 0);
	}

	60% {
		clip: rect(6px, 9999px, 57px, 0);
	}

	63.33333333% {
		clip: rect(23px, 9999px, 138px, 0);
	}

	66.66666667% {
		clip: rect(137px, 9999px, 126px, 0);
	}

	70% {
		clip: rect(118px, 9999px, 6px, 0);
	}

	73.33333333% {
		clip: rect(138px, 9999px, 120px, 0);
	}

	76.66666667% {
		clip: rect(20px, 9999px, 132px, 0);
	}

	80% {
		clip: rect(118px, 9999px, 114px, 0);
	}

	83.33333333% {
		clip: rect(103px, 9999px, 123px, 0);
	}

	86.66666667% {
		clip: rect(87px, 9999px, 119px, 0);
	}

	90% {
		clip: rect(58px, 9999px, 131px, 0);
	}

	93.33333333% {
		clip: rect(38px, 9999px, 139px, 0);
	}

	96.66666667% {
		clip: rect(71px, 9999px, 142px, 0);
	}

	100% {
		clip: rect(56px, 9999px, 22px, 0);
	}
}