.site-header {
  background-color: #090a0b;
  height: 84%;
}
.navbar {
  background: #090a0b;
}
.nav-link {
  color: #bdbdbd;
}
.nav-link:hover {
  color: #ececec;
}
#navbarNavAltMarkup {
  padding: 0 12%;
}
.inner-header {
  margin: 0 auto;
}
.header-title {
  padding-top: 6%
}
@media only screen and (min-width: 800px) {
  .carbon-image {
    width: 70%;
  }
}
.description-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.description-text {
  color: whitesmoke;
}
#cursor {
  background: whitesmoke;
  line-height: 25px;
  margin-left: 3px;
  animation: caret 1s steps(1) infinite;
  width: 7px;
  height: 17px;
}
@keyframes caret {
  50% {
    background-color: transparent;
  }
}
.main-content {
  background: #191b1f;
  color: white;
}
.projects-section {
  max-width: 75%;
}
.contacts-section {
  max-width: 75%;
}
.section-title {
  padding: 5% 0 4% 0;
}
.tech-pill {
  width: 5%;
}
.blur-effect {
  height: 100px;
  position: relative;
  text-align: center;
}
.blur-effect::before{
  content: "";
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4b4d51;
  filter: blur(5px);
  z-index:0;
}
.coming-soon {
  position: relative;
  z-index: 1;
}
.footer {
  background: #090a0b;
}
.footer-inner {
  color: #bdbdbd;
  max-width: 73%;
  padding: 2% 0 2% 0;
}
.link-nostyle {
  text-decoration: inherit;
  color: inherit;
  margin-left: 2%;
}
.link-nostyle:hover {
  color: #ececec;
}
.link-nostyle:focus {
  outline: none;
}
#submit-loading {
  display: none;
}
.message-alert {
  display: none;
  border: 1px solid #f8f9fa;
}

@media only screen and (max-width: 600px) {
  #navbarNavAltMarkup {
    padding: 0;
  }
  .header-title {
    padding-top: 18%;
  }
  .carbon-image {
    width: 100%;
  }
  .site-header {
    height: 50%;
  }
  .description-text {
    font-size: 1.05rem;
  }
  .projects-section {
    max-width: 96%;
  }
  .contacts-section {
    max-width: 96%;
  }
  .footer-inner {
    max-width: 100%;
    text-align: center;
  }
}